*.swp

# Dependency directory
node_modules

# truffle build directory
build/

# lol macs
.DS_Store

# secrets
.env

# hardhat build directory and cache
artifacts/
cache/
deployments/

# certora
.certora_*
.last_confs
coverage
coverage.json
