variables:
  DEPLOY_OWNER_PRIVKEY: 0xBF3862CD1EE53F542C483E4F55BEE2D0B13014A7D6AD1B0CA457240C2888C1FB

# image: node:10.21.0-buster
image: node:14-buster

cache: &global_cache
  key: ${CI_PROJECT_PATH_SLUG}
  paths:
    - node_modules/

before_script:
  - npm install
  - RUNNER_COUNT=16
  - FILES=( $(find -H -L ./test/* -regex "^.*.test.js") )
  - len=${#FILES[@]}
  - echo 1
  - >
    for (( i=0; i<${RUNNER_COUNT}; i+=1 )); do
        RUNNER_TEST_CNTS[$i]=0
    done
  - echo 2
  - echo "len:" ${len}
  - >
    for (( i=0; i<${len}; i+=1 )); do
        echo "---" $i "---" 
        echo ${FILES[$i]}
        echo $(grep -o " it(" ${FILES[$i]} | wc -l)
        TestCases[$i]=$(grep -o " it(" ${FILES[$i]} | wc -l)
        echo ${TestCases[$i]}
    done
  - echo 3
  - >
    for ((i = 0; i<${len}; i++))
    do
        for((j = 0; j<${len}-i-1; j++))
        do
            if [ ${TestCases[j]} -lt ${TestCases[$((j+1))]} ]
            then
                # swap
                temp=${TestCases[j]}
                TestCases[$j]=${TestCases[$((j+1))]}
                TestCases[$((j+1))]=$temp

                temp=${FILES[j]}
                FILES[$j]=${FILES[$((j+1))]}
                FILES[$((j+1))]=$temp
            fi
        done
    done
  - echo 4
  - MIN=${RUNNER_TEST_CNTS[0]}
  - MINIDX=0
  - echo 5
  - >
    for (( i=0; i<${len}; i+=1 )); do
        for j in ${!RUNNER_TEST_CNTS[@]};
        do
            if [ ${MIN} -gt ${RUNNER_TEST_CNTS[$j]} ]
            then
                MIN=${RUNNER_TEST_CNTS[${j}]}
                MINIDX=${j}
            fi
        done

        UNITTEST_FILES[$MINIDX]+=' '"${FILES[$i]}"
        RUNNER_TEST_CNTS[$MINIDX]=`expr ${TestCases[$i]} + ${RUNNER_TEST_CNTS[$MINIDX]}`
        MIN=${RUNNER_TEST_CNTS[$MINIDX]}
    done
  - echo 6
stages:
  - build
  - test
  - deploy

build:
  stage: build
  tags:
    - docker
  script:
    - npx hardhat compile
    # - npm run build
  cache:
    <<: *global_cache

test_0:
  stage: test
  tags:
    - docker
  script:
    - apt-get update && apt-get install -y netcat
    - apt-get install lsof
    - npm run test-hardhat ${UNITTEST_FILES[0]}
    # - npm run test-migration ${UNITTEST_FILES[0]}
  cache:
    <<: *global_cache

test_1:
  stage: test
  tags:
    - docker
  script:
    - apt-get update && apt-get install -y netcat
    - apt-get install lsof
    - npm run test-hardhat ${UNITTEST_FILES[1]}
    # - npm run test ${UNITTEST_FILES[1]}
  cache:
    <<: *global_cache

test_2:
  stage: test
  tags:
    - docker
  script:
    - apt-get update && apt-get install -y netcat
    - apt-get install lsof
    - npm run test-hardhat ${UNITTEST_FILES[2]}
    # - npm run test ${UNITTEST_FILES[2]}
  cache:
    <<: *global_cache

test_3:
  stage: test
  tags:
    - docker
  script:
    - apt-get update && apt-get install -y netcat
    - apt-get install lsof
    - npm run test-hardhat ${UNITTEST_FILES[3]}
  cache:
    <<: *global_cache

test_4:
  stage: test
  tags:
    - docker
  script:
    - apt-get update && apt-get install -y netcat
    - apt-get install lsof
    - npm run test-hardhat ${UNITTEST_FILES[4]}
  cache:
    <<: *global_cache

test_5:
  stage: test
  tags:
    - docker
  script:
    - apt-get update && apt-get install -y netcat
    - apt-get install lsof
    - npm run test-hardhat ${UNITTEST_FILES[5]}
  cache:
    <<: *global_cache

test_6:
  stage: test
  tags:
    - docker
  script:
    - apt-get update && apt-get install -y netcat
    - apt-get install lsof
    - npm run test-hardhat ${UNITTEST_FILES[6]}
  cache:
    <<: *global_cache

test_7:
  stage: test
  tags:
    - docker
  script:
    - apt-get update && apt-get install -y netcat
    - apt-get install lsof
    - npm run test-hardhat ${UNITTEST_FILES[7]}
  cache:
    <<: *global_cache

test_8:
  stage: test
  tags:
    - docker
  script:
    - apt-get update && apt-get install -y netcat
    - apt-get install lsof
    - npm run test-hardhat ${UNITTEST_FILES[8]}
  cache:
    <<: *global_cache

test_9:
  stage: test
  tags:
    - docker
  script:
    - apt-get update && apt-get install -y netcat
    - apt-get install lsof
    - npm run test-hardhat ${UNITTEST_FILES[9]}
  cache:
    <<: *global_cache

test_10:
  stage: test
  tags:
    - docker
  script:
    - apt-get update && apt-get install -y netcat
    - apt-get install lsof
    - npm run test-hardhat ${UNITTEST_FILES[10]}
  cache:
    <<: *global_cache

test_11:
  stage: test
  tags:
    - docker
  script:
    - apt-get update && apt-get install -y netcat
    - apt-get install lsof
    - npm run test-hardhat ${UNITTEST_FILES[11]}
  cache:
    <<: *global_cache

test_12:
  stage: test
  tags:
    - docker
  script:
    - apt-get update && apt-get install -y netcat
    - apt-get install lsof
    - npm run test-hardhat ${UNITTEST_FILES[12]}
  cache:
    <<: *global_cache

test_13:
  stage: test
  tags:
    - docker
  script:
    - apt-get update && apt-get install -y netcat
    - apt-get install lsof
    - npm run test-hardhat ${UNITTEST_FILES[13]}
  cache:
    <<: *global_cache

test_14:
  stage: test
  tags:
    - docker
  script:
    - apt-get update && apt-get install -y netcat
    - apt-get install lsof
    - npm run test-hardhat ${UNITTEST_FILES[14]}
  cache:
    <<: *global_cache

test_15:
  stage: test
  tags:
    - docker
  script:
    - apt-get update && apt-get install -y netcat
    - apt-get install lsof
    - npm run test-hardhat ${UNITTEST_FILES[15]}
  cache:
    <<: *global_cache

# deploy:
#   stage: deploy
#   tags:
#     - docker
#   script:
#     - ./node_modules/.bin/ganache-cli -p 8242 -a $DEPLOY_OWNER_PRIVKEY &
#       #   - truffle migrate --network integration
#   cache:
#     <<: *global_cache
