*.swp

# Dependency directory
node_modules

# truffle build directory
build/

# lol macs
.DS_Store
package-lock.json

# secrets
.secret_beta

# hardhat build directory and cache
artifacts/
cache/
deployments/

# certora
.certora_*
.last_confs
